<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
    <div class="container mt-md-4">
        <div class="row mt-auto">
            <div class="col-md-6 col-12">
                <div class="text-center">
                    <h1 class="mb-md-5 mt-10 josefin">Welcome to Library Management</h1>
                    <a href="/login">
                        <button type="button" class="play btn btn-outline-primary my-5">Login</button>
                    </a>
                    <a href="/register">
                        <button type="button" class="play btn btn-primary my-5">Register</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-12">
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>